{% extends "pages/page.html" %}

{% load i18n mezzanine_tags staticfiles %}

{% block extra_css %}
{% endblock %}


{% block extra_js %}
	<script>
	$(function(){
      //  Initialize Backgound Stretcher
      $('BODY').bgStretcher({
        images: ['{{ MEDIA_URL }}{{ page.richtextpage.image }}'], 
		imageWidth: 1600, 
		imageHeight: 964, 
		resizeProportionally:true	
       });	
    });
    </script>
{% endblock %}


 {% block about %}
 	<section id="content">
  
	    <div class="main-block">
		    <div class="container_12">
		        <div class="wrapper border-vert">
			        <article class="grid_5">
			              <h3>Welcome</h3>
			              <figure class="img-rounded"><img src="{% static 'images/page2-img1.jpg' %}" alt="" /> </figure>
			              <h4>Koleacene anritma hasesera deyulety. Cumrsocis natoqu eagnis distmtese duluese feugiata lecenas </h4>
			              
			              <p>quiacum socis nateagnis distese dulmue seugia lecenas str cies phase ledat enaec sit ame  gfdulyry f easer.  Fusce suscipit varius mi cum sociis natoque penati bus et magnis dis parturient montes nascetur ridicu . lorem. Maecenas tristique orci ac sem.  Fusce suscipit varius mi cum sociis natoque penati bus et magnis dishjlop. </p>
			              <a href="{% url 'page' 'more' %}" class="button">More</a> </article>
			        <article class="grid_3 prefix_2">
		            <h3>Our Services</h3>
		            <ul class="list-services">
			            <li>
			                <figure class="img-rounded1"><img src="{% static 'images/page2-img2.jpg' %}" alt="" /> </figure>
			                <h4><a href="#">Skin Care Treatments</a></h4>
			                <ul class="list">
				                <li><a href="#">Glycolic Peel</a></li>
				                <li><a href="#">Skin Lightening</a></li>
				                <li><a href="#">Vtimamin C Facial</a></li>
				            </ul>
			            </li>
			            <li>
			                <figure class="img-rounded1"><img src="{% static 'images/page2-img3.jpg' %}" alt="" /> </figure>
			                <h4><a href="#">Nail Services</a></h4>
			                <ul class="list">
				                <li><a href="#">Manicures</a></li>
				                <li><a href="#">Pedicures</a></li>
				                <li><a href="#">Buff &amp; Polish</a></li>
				            </ul>
			            </li>
			        </ul>
		        <a href="{% url 'page' 'more' %}" class="button">More</a> </article>
		      	</div>
	    	</div>
	    </div>  
	</section> 
 
    <div class="container">
      {% editable page.richtextpage.content page.richtextpage.title %}
        <h1 style="color:#000">{% trans page.richtextpage.title %}</h1>
        {% trans page.richtextpage.content|richtext_filters|safe %}
      {% endeditable %}
    </div>
{% endblock %}

{% block feature %}
<hr>
  
{% endblock %}

